<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="eclipse.connection.profile">TravelAgencyFinal</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/travelAgencyModule</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">123456</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
				
		<mapping class="com.softserve.edu.ita.entity.City"></mapping>
		<mapping class="com.softserve.edu.ita.entity.Country"></mapping>
		<mapping class="com.softserve.edu.ita.entity.Hotel"></mapping>
		<mapping class="com.softserve.edu.ita.entity.Client"></mapping>
		<mapping class="com.softserve.edu.ita.entity.Visa"></mapping>
		<mapping class="com.softserve.edu.ita.entity.Booking"></mapping>

	</session-factory>
</hibernate-configuration>
